@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px solid #dadadaa8;
    border-radius: 50%;
    border-top: 4px solid black; 
    border-bottom: 4px solid black;

    width: 80px;
    height: 80px;

    -webkit-animation: loader 1.5s linear infinite alternate ;
    animation: loader 1.5s linear infinite alternate ;
  }
  
  .loading {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-family: 'Acme', sans-serif;
  }

  @keyframes loader {
    to { 
        transform: rotate(0deg); 
    }

    from { 
        transform: rotate(360deg); 
    }
  }