* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d0a3e;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pulse {
    width: 100px;
    height: 100px;
    background-color: #009688;
    border-radius: 50%;
    color: #f5f5f5d4;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    animation: animate 3s linear infinite;
}

.fa-wifi {
    font-size: 50px;
}
@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 #009688ad, 0 0 0 0 #009688ad;
    }
    40% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 #009688ad;
    }
    80% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
    }
}